[user]
	name = okumin
	email = mail@okumin.com
[color]
	ui = true
[core]
	autoCRLF = false
	whitespace = trailing-space,space-before-tab
	pager = less -X
	editor = vim
	excludesfile = /Users/okumin/.gitignore
[alias]
	unstage = rm --cached --
[push]
	default = simple
